/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require 'bootstrap-fileinput'
 *= require_self
 */

#title{
  font-family: cursive;
}

.kv-fileinput-upload {
  display: none;
}

 .navbar {
   background-color: #360c0c;
 }
 .navbar .navbar-brand {
   color: #f4f7f7;
 }
 .navbar .navbar-brand:hover,
 .navbar .navbar-brand:focus {
   color: #ecdbff;
 }
 .navbar .navbar-text {
   color: #f4f7f7;
 }
 .navbar .navbar-text a {
   color: #ecdbff;
 }
 .navbar .navbar-text a:hover,
 .navbar .navbar-text a:focus {
   color: #ecdbff;
 }
 .navbar .navbar-nav .nav-link {
   color: #f4f7f7;
   border-radius: .25rem;
   margin: 0 0.25em;
 }
 .navbar .navbar-nav .nav-link:not(.disabled):hover,
 .navbar .navbar-nav .nav-link:not(.disabled):focus {
   color: #ecdbff;
 }
 .navbar .navbar-nav .nav-item.active .nav-link,
 .navbar .navbar-nav .nav-item.active .nav-link:hover,
 .navbar .navbar-nav .nav-item.active .nav-link:focus,
 .navbar .navbar-nav .nav-item.show .nav-link,
 .navbar .navbar-nav .nav-item.show .nav-link:hover,
 .navbar .navbar-nav .nav-item.show .nav-link:focus {
   color: #ecdbff;
   background-color: #630f02;
 }
 .navbar .navbar-toggle {
   border-color: #630f02;
 }
 .navbar .navbar-toggle:hover,
 .navbar .navbar-toggle:focus {
   background-color: #630f02;
 }
 .navbar .navbar-toggle .navbar-toggler-icon {
   color: #f4f7f7;
 }
 .navbar .navbar-collapse,
 .navbar .navbar-form {
   border-color: #f4f7f7;
 }
 .navbar .navbar-link {
   color: #f4f7f7;
 }
 .navbar .navbar-link:hover {
   color: #ecdbff;
 }

 @media (max-width: 575px) {
   .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
     color: #f4f7f7;
   }
   .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
   .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
     color: #ecdbff;
   }
   .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
     color: #ecdbff;
     background-color: #630f02;
   }
 }

 @media (max-width: 767px) {
   .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
     color: #f4f7f7;
   }
   .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
   .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
     color: #ecdbff;
   }
   .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
     color: #ecdbff;
     background-color: #630f02;
   }
 }

 @media (max-width: 991px) {
   .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
     color: #f4f7f7;
   }
   .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
   .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
     color: #ecdbff;
   }
   .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
     color: #ecdbff;
     background-color: #630f02;
   }
 }

 @media (max-width: 1199px) {
   .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
     color: #f4f7f7;
   }
   .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
   .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
     color: #ecdbff;
   }
   .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
     color: #ecdbff;
     background-color: #630f02;
   }
 }

 .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
   color: #f4f7f7;
 }
 .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
 .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
   color: #ecdbff;
 }
 .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
   color: #ecdbff;
   background-color: #630f02;
 }
 .footer{
   background-color: #360c0c;
   color: white;
   text-align: center;
   margin-top: auto;
   width: 100%;
 }
 body,
 #wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }
